.App {
  text-align: center;
}
.tableView{
  width: 100%;
  margin-top: 20px;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
td,th{
  padding: 10px;
  border: 1px solid;
  
}

#reactgooglegraph-1,
#reactgooglegraph-2 {
  width: 100% !important;
}
